<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <!-- Logo & Title -->
    <div class="register-header">
      <div class="logo-circle">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <h1>Account erstellen</h1>
      <p>Registriere dich jetzt kostenlos</p>
    </div>

    <!-- Register Form -->
    <div class="register-form">
      <div class="input-group">
        <ion-icon name="person-outline" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="firstName"
          type="text"
          placeholder="Vorname"
          class="custom-input"
          [disabled]="loading"
        ></ion-input>
      </div>

      <div class="input-group">
        <ion-icon name="person-outline" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="lastName"
          type="text"
          placeholder="Nachname"
          class="custom-input"
          [disabled]="loading"
        ></ion-input>
      </div>

      <div class="input-group">
        <ion-icon name="mail-outline" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="email"
          type="email"
          placeholder="Email"
          class="custom-input"
          [disabled]="loading"
        ></ion-input>
      </div>

      <div class="input-group">
        <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Passwort"
          class="custom-input"
          [disabled]="loading"
        ></ion-input>
        <ion-icon
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          class="toggle-password"
          (click)="togglePassword()"
        ></ion-icon>
      </div>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <ion-button
        expand="block"
        class="register-button"
        (click)="register()"
        [disabled]="!firstName || !lastName || !email || !password || loading"
      >
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">Registrieren</span>
      </ion-button>

      <div class="login-link">
        <p>Hast du schon einen Account? <a routerLink="/login">Anmelden</a></p>
      </div>
    </div>
  </div>
</ion-content>
